<label for="txtBookName" class="form-label">User Name</label>
<input
  type="text"
  [(ngModel)]="userForm.user_name"
  class="form-control"
  id="txtBookName"
/>
<div class="mb-3">
    <label for="txtCost" class="form-label">User ID</label>
    <input
      type="number"
      [(ngModel)]="userForm.id"
      class="form-control"
      id="txtCost"
    />
    </div>
<div class="mb-3">
<label for="txtAuthor" class="form-label">User Role</label>
<input
  type="text"
  [(ngModel)]="userForm.user_role"
  class="form-control"
  id="txtAuthor"
/>
</div>
<div class="mb-3">
    <label for="skill" class="form-label">User Skill</label>
    <input
      type="text"
      [(ngModel)]="userForm.user_skill"
      class="form-control"
      id="skill"
    />
    </div>

    <div class="file-upload-sec">
      <input style="display: none" id="pic" #attachmentsimage type="file" accept="image/*"
        (change)="onIssueFileChange($event, 'image')" #fileInput multiple="false">
    
    
    
      <button mat-icon-button (click)="attachmentsimage.click();">
        <!-- <mat-icon>perm_media</mat-icon> --> photo
      </button>

      <img [src]="comment_images.source || comment_images.file" style="height: 70px;width: 70px;">
    
      <!-- <div class="serv pt-2">
        <ul>
          <li *ngFor="let item of comment_images;let index = index">
            <img [src]="item.source || item.file" style="height: 70px;width: 70px;" *ngIf="item">
            <div class="text-center mt-2 mb-3" *ngIf="item">
              <button mat-icon-button (click)="removeIssueFile(index, 'image')">
              <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div> -->
    
    </div>

<button type="button" class="btn btn-dark" (click)="update()">Edit</button>
